body {
    background-image: url('../Bilder/5571916.jpg'); /* Pfad zu Ihrem Hintergrundbild */
    background-size: cover; /* Stellt sicher, dass das Bild den gesamten Bildschirm bedeckt */
    background-attachment: fixed; /* Das Bild bleibt fest, auch beim Scrollen */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    background-position: center; /* Zentriert das Bild */
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('../css/Permanent_Marker/PermanentMarker-Regular.ttf') format('ttf');
}

.permanentmarker-font {
    font-family: 'PermanentMarker', sans-serif; /* Fallback: sans-serif */
    color: #ffffff;
    font-size: 4vh;
    font-weight: bolder;
    font-stretch: extra-condensed;
    
}

.flex-container {
    display: flex;
    justify-content: center; /* Zentriert horizontal */
    align-items: flex-start ;    
    height: 100%;
}

.centered-section {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.centered2-section {
    border: 2px solid #00000000;
    padding: 20px;
    text-align: center;
}

.bottom-section {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.content {
    min-height: 80vh;
    /* Wichtig: Höhe der Fußzeile abziehen */
    margin-bottom: -50px; /* Negative Höhe der Fußzeile */
}

.content:after {
    /* content: ""; */
    display: block;
    height: 50px; /* Gleiche Höhe wie die Fußzeile */
}

.footer {
    height: 50px;
    background-color: #050505;
    color: white;
    text-align: center;
    line-height: 50px; /* Zentriert den Text vertikal in der Fußzeile */
    position: bottom;
    clear: both;
}

.footer-1 {
    height: 50px;
    background-color: #050505;
    color: white;
    text-align: center;
    line-height: 50px; /* Zentriert den Text vertikal in der Fußzeile */
    /*position: bottom;*/
    clear: both;
}

.impressum {
    margin: 20px; /* Zentriert den Block innerhalb seines Elternelements */
    width: auto; /* oder eine spezifische Breite */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Dunkler Hintergrund mit leichter Transparenz */
    color: white;
    border-radius: 15px; /* Abgerundete Ecken */
    text-align: center; /* Zentriert den Text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Leichter Schatten für Tiefe */
}
